* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid rgba(255, 255, 255, 0.5); */
}

h1, h2, h2, h4, h5, h6, ul, li, a, p {
  color:white;
}

svg {
    width: 24px;
    height: 24px; 
    margin-right: 0.5rem;
}

.icons {
  display: flex;
  flex-direction: row;
}

.social-icon {
  transition: all 0.1s ease;
}

.social-icon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.spotify {
  fill: #1ed760;
}

.facebook {
  fill: #035fff;
}

.instagram {
  fill: #fe720e;
}

.apple-music {
  fill: #fb435c;
}

.bandcamp {
  fill: #1da0c3;
}

section > .socials {
  display: flex;
  margin-top: auto;
  margin-right: auto;
}

section > .icons > :is(.facebook, .spotify,  .instagram, .apple-music, .bandcamp) {
  height: 2rem;
  width: 2rem;
}

@media (max-width: 768px) {
  footer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
