.album-info {
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.album-info > .pill-container {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.pill {
    transition: all 0.1s ease;
}

.pill:hover{
    transform: scale(1.1);
    margin: 0rem 0.5rem;
}

.album-art {
    width: 250px;
    height: 250px;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

p {
    text-align: left;
}

p.release-date {
    color: grey;
}

@media (max-width: 768px) {
    .album-info {
        text-align: left;
        flex-direction: column;
        align-items: center;
    }
    
    .album-info > .pill-container {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
    }
    
    .pill:hover {
        margin: 0;
    }
}
